/* ========== GOOGLE FONTS ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;900&display=swap');


/* ========== VARIABLE CSS ========== */

:root {
    --header-height: 3.5rem;

    /* ========== Colors ========== */
    --red: #A73F34;
    --white: #fff;
    --grey: #f5f5f5;
    --black: #222;
    --light-black: #999;
    /* ========== Fonts ==========  */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .9rem;
    --small-font-size: .8rem;
    --smaller-font-size: .7rem;

    /* ========== Font weight ========== */
    --font-medium : 500;
    --font-semi-bold : 600;
    --font-black : 900;
}

/* ========== RESPONSIVE RULES ========== */
@media screen and (min-width: 992px){

    /* ========== Fonts ==========  */
    :root{
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --smal-font-size: 0.8rem;
        --smaller-font-size: 0.790rem;
    }
    
}

/* ========== BASE RULES ========== */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: var(--body-font);
    overflow-x: hidden;
    font-size: var(--normal-font-size);
}

/* ========== RULES NAV BAR GAUCHE ========== */

.container
{
    position: relative;
    width: 100%;
}

.nav
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--red);
    border-left: 10px solid var(--red);
    overflow: hidden;
    transition: 0.5s;
}

.nav.active
{
    transition: 0.5s;
    width: 80px;
}

.nav ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}

.nav ul li:hover,
.nav ul li.hovered
{
    background: var(--white);
    
}

.nav ul li:nth-child(1)
{
    margin-bottom: 40px;
    margin-top: 10px;
    pointer-events: none;
    
}

.nav ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
    
}

.nav ul li:hover a,
.nav ul li.hovered a
{
    color: var(--red);
}

.nav ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    margin-top: 20px;
    text-align: center; 


}

.nav ul li a .icon ion-icon
{
    font-size: 1.75em;
}

.nav ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 70px;
    text-align: start;
    white-space: nowrap;
}

.nav ul li:hover a::before,
.nav ul li.hovered a::before

{
    content: '';
    position: absolute;
    right: 0;
    width: 50px;
    top: -50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.nav ul li:hover a::after,
.nav ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    width: 50px;
    bottom: -50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.logo
{
    width: 60px;
    height: 60px;
}

/* ========== RULES NAV BAR HAUT ========== */
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;

}

.main.active
{
    width: calc(100% - 80px);
    left: 80px;
}

.nav__haut
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle
{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    /* background: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label
{
    position: relative;
    width: 100%;
}

.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    font-family: var(--body-font);
    outline: none;
    border: 1px solid var(--light-black);
}

.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user ion-icon
{
    position: relative;
    min-width: 40px;
    height: 40px;
    cursor: pointer;
}

/* ========== RULES INDICATEURS BOX ========== */
.cardBox
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBox .card
{
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.cardBox .card .card__data
{
    position: relative;
    font-weight: var(--font-medium);
    font-size: 2.5em;
    color: var(--red);
}

.cardBox .card .card__title
{
   color: card(--light-black);
   font-size: 1.1em;
   margin-top: 5px;
}

.cardBox .card .card__icon
{
    font-size: 3.5em;
    color: var(--light-black);
}

.cardBox .card:hover
{
    background: var(--red);
}

.cardBox .card:hover .card__data,
.cardBox .card:hover .card__title,
.cardBox .card:hover .card__icon
{
    color: var(--white);
}

/* ========== RULES LISTE ACHAT ========== */
.liste
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.liste .achats
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.liste__title
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.liste__title h2
{
    font-weight: var(--font-semi-bold);
    color: var(--red);
}

.buton
{
    position: relative;
    padding: 5px 10px;
    background: var(--red);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;

}

.liste table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.liste table thead td
{
    font-weight: var(--font-semi-bold);
}

.liste .achats table tr
{
    color: var(--black);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.liste .achats table tr:last-child
{
    border-bottom: none;
}

.liste .achats table tbody tr:hover
{
    background: var(--red);
    color: var(--white);
}

.liste .achats table tr td
{
    padding: 10px;
}

.liste .achats table tr td:last-child
{
    text-align: end;
}

.liste .achats table tr td:nth-child(2),
.liste .achats table tr td:nth-child(3),
.liste .achats table tr td:nth-child(4)
{
    text-align: center;
}

.statut
{
    padding: 2px 4px;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: var(--font-medium);
}

.statut.expedie
{
    background: #8de02c;
}

.statut.preparation
{
    background: #FFC44D;
}

.statut.annule
{
    background: #f00;
}

/* ========== RESPONSIVE RULES ========== */
@media (max-width: 991px)
{
    .nav
    {
        left: -300px;
    }

    .nav.active
    {
        width: 300px;
        left: 0;
    }

    .main
    {
        width: 100%;
        left: 0;
    }

    .main.active
    {
        left: 300px;
    }

    .cardBox
    {
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width: 768px)
{
    .liste
    {
        grid-template-columns: auto;
    }

    .liste .achats table
    {
        font-size: var(--smaller-font-size);
    }
    
    .achats
    {
        overflow-x: hidden;
    } 

    .statut
    {
        white-space: nowrap;
    }
}

@media (max-width: 500px)
{
    .liste.achats table
    {
        font-size: var(--small-font-size);
    }
    .cardBox
    {
        grid-template-columns: repeat(1,1fr);
    }

    .nav
    {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .nav.active
    {
        width: 100%;
        left: 0;
    }

    .toggle
    {
        z-index: 1001;
    }

    .main.active .toggle
    {
        color: #fff;
    }
}

